:root {
  --bg: #1a1d21;
  --navtxt: #c9c7c7;
  --navbg: #41729F;
  --navlightbg: #5885AF;
  --lighttext: #C3E0E5;
  --orange: #FFA500;
  --lightbg: #292d33;
  --red: red;
  --green: green;
}

* {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  html {
    background: var(--bg);
    height: 100%;
    width: 100%;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    color: white;
  }

 nav {
  background: var(--navbg);
  color: var(--navtxt);
  font-family: montserrat, sans-serif;
  position: relative;
  z-index: 100;
  display: flex;
  width: 100%;
}

.ns2 > a,
.ns3 > a {
  text-decoration: none;
  color: var(--navtxt);
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.ns2 > a > span,
.ns3 > a > span {
  margin-right: 3px;
}

.ns2,
.ns3 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.ns1 {
  display: none;
}

.ns2 {
  width: 70%;
}

.ns3 {
  justify-content: right;
  width: 30%;
}

@media only screen and (max-width: 767px) {
  .ns1 {
    display: flex;
    gap: 1rem;
    flex-basis: 50%;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  .ns3 {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .ns2 {
    display: none;
  }
}

.nav-section > a:hover:not(.active) {
  background-color: #5885AF;
  box-shadow: 0 0 0 10px #5885AF;
}

.active {
  background-color: #39648C;
  box-shadow: 0 0 0 10px #39648C;  
}

.home {
  margin-left: 10px;
}

.dropbtn {
  background-color: #41729F;
  color: var(--navtxt);
  padding: 8px 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 150;
  border-radius: 0px;  
  transition-duration: 0s;
  box-shadow: none; 
  width: 45; 
  opacity: 1; 
  text-align: right;
}


.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--navlightbg);
  width: 300px; 
  border-radius: 15px;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 0.3);
  height: 100vh;
}

.dropdown-content a {
  background-color: var(--navlightbg);
  color: var(--navtxt);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100px;
  text-align: center;
  transition-duration: 1s;
}

.dropdown-content a:hover:not(.blanka) {
  text-shadow: 0px 0px 8px var(--lighttext); color: white;
  transition-duration: 1s;
}

.dropdown-content > a > span {
  margin-right: 8px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .dropbtn {
  background-color: var(--navlightbg);
}

h1 {
  background-color: #274472;
  color: #C3E0E5;
  margin: 0px; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} 

h1 > img {
 width: 500px;
}

@media only screen and (max-width: 767px) {
  h1 > img {
    width: 100%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 16px;
}

@media only screen and (min-width: 767px) {
  .s1 {
    flex-direction: row;
  }
}

.s1 > button,
.btn-request {
  width: 100%;
  --height: 200px;
  height: var(--height);
  border: 2px solid var(--navtxt);
  border-radius: 12px;
  color: white;
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1 > button:hover,
.btn-request:hover {
  border: 2px solid var(--orange);
  color: var(--orange);
  transition-duration: 0.5s;
}

.s2, .s3, .sr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s2 > button:not(.back),
.s3 > button:not(.back),
.sub-section > button {
  width: 50%;
  border: 2px solid var(--navtxt);
  border-radius: 12px;
  color: white;
  background: var(--bg);
  font-size: 20px;
  padding: 1rem;
  text-align: left;
}

.s3 > button:not(.back) {
  display: flex;
  align-items: center;
}

.s3 > .sub-section {
  background: var(--lightbg);
  border-radius: 12px;
  width: 50%;
}

.s3 > .sub-section > button:not(.back) {
  width: 100%;
  border: none;
  background: var(--lightbg);
}

@media only screen and (max-width: 767px) {
  .s3 > .sub-section {
    width: 100%;
  }
}

.s2 > button:not(.back) > span,
.s3 > button:not(.back) > span {
  margin-left: auto;
}

.s2 > button:hover:not(.back),
.s3 > button:hover:not(.back),
.sub-section > button:hover {
  background: var(--lightbg);
}

.s3 > .sub-section > button:hover:not(.back) {
  background: var(--bg);
}

@media only screen and (max-width: 767px) {
  .s2 > button:not(.back),
  .s3 > button:not(.back),
  .sub-section > button {
    width: 100%;
  }
}

.s0,
.s0new {
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.s0 > div,
.s0new > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.s0 > div > span {
  color: var(--red);
  font-size: 72px;
  margin-right: 8px;
}

.s0 > div > h3 {
  color: var(--red);
  font-size: 32px;
}

.s0new > div > span {
  color: var(--green);
  font-size: 72px;
  margin-right: 8px;
}

.s0new > div > h3 {
  color: var(--green);
  font-size: 32px;
}

.s0 > p,
.s0new > p {
  color: var(--navtxt);
  margin: 0;
}

.sub-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

.btn-serie {
  background-image: url("assets/serie.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-film {
  background-image: url("assets/film.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-request {
  box-sizing: border-box;
  height: 100px;
  width: 50%;
  font-size: 32px;
  background-image: url("assets/request.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .btn-request {
    width: 100%;
  }
}

.back {
  background: var(--bg);
  color: var(--navtxt);
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
}

.back:hover {
  background: var(--lightbg);
  box-shadow: 0 0 0 5px var(--lightbg);
}

@media only screen and (max-width: 767px) {
  .back {
    width: 100%;
  }
}

.request {
  display: flex;
  flex-direction: column;
  margin: 16px;
  border-radius: 12px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

fieldset {
  border: none;
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

fieldset > label {
  margin-right: 4px;
}

fieldset > input {
  width: 200px;
}

form > p {
  color: var(--navtxt);
  font-size: 14px;
  margin-bottom: 8px;
  text-align: left;
}

.request > h2 {
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

.send {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--orange);
  border-radius: 12px;
  padding: 10px;
  font-weight: 600;
  margin: 24px 0 8px 0;
}

.send > span {
  margin-right: 4px;
}

.thankyou_message > a {
  color: var(--navtxt);
  margin-top: -8px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: center;
  padding: 16px;
}

hr {
  width: 100%;
  background: var(--navtxt);
  border: 1px solid var(--navtxt);
}

.credits {
  color: var(--navtxt);
  display: flex;
  align-items: center;
  width: 100%;
}

.credits > p {
  width: 50%;
  font-size: 11px;
  line-height: 24px;
}

.credits > p > a {
  color: var(--navtxt);
}

.righttxt {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .credits {
    flex-direction: column;
    align-items: flex-start;
  }
  .righttxt {
    text-align: left;
  }
  .footer {
    margin-top: 100px;
  }
  .credits > p {
    width: 100%;
  }
}